body,
html {
    background-image: url("photo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 4px 3px 8px #333333;
    font-weight: bold;
    text-align: center;
    /* margin-top: 350px; */
}

hr {
    color: orange;
    width: 65px;
    border-width: 3px;
}

img {
    border: 3px solid white;
}
/* .container {
    border: 2px solid white;
} */

/* .notify {
    margin-top: 20px;
} */

.btn {
    cursor: pointer;
}
