/* body,
html {
    background-image: url("photo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 4px 3px 10px #333333;
    font-weight:bolder;
    text-align: center;
    text-transform: uppercase;
}

hr {
    color: orange;
    width: 65px;
    border-width: 3px;
}

img {
    border: 3px solid white;
}
.container {
    border: 2px solid white;
}

.notify {
    margin-top: 20px;
}

.btn {
    cursor: pointer;
}

.btn-light {
    border: 2px black;
} */

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.04)), url(ryan-pouncy-90524-unsplash.jpg);
    background-size: cover;
    background-position: center 0px;
    height: 93vh;
    color: white;
}
.hero h1 {
    width: 40vw;
	position:absolute;
    color: white;
    margin-left: 60px;
    margin-top: 75px;
    font-size: 65px;
    text-shadow: 2px 2px 9px #000;
}

.description {
    background-color: light-grey;
    padding: 20px;
    font-size: 24px;
    font-style:italic;
    }
